@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@media (max-width: 768px) {
    .section {
        flex-direction: column;
        text-align: center;
    }
}


*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    
   
}


/* Estilo da página */
body {
font-family: Georgia, serif;
  color:#d6d7d8b2; /* cor do texto frontal  */
}

/* Fundo animado */
.fundo-site {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(0, #181924, #000000);
  overflow: hidden;
}

/* Animação das skills */

#img_skills {
  width: 400px;
  box-shadow: 0px 0px 4px black;
  padding: 10px;
  border-radius: 15px;
  position: absolute; /* Garante posicionamento relativo à tela */
  top: 1799px; /* Define a altura inicial (ajustável) */
  left: 100%; /* Começa fora da tela pelo lado direito */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  animation: move-horizontal 10s linear infinite; /* Aplica a animação */
  z-index: 1;

}

.fixed-object {
  position: fixed;  /* Fixa o objeto na tela */
  top: 50px;        /* Distância do topo da tela */
  left: 50px;       /* Distância da esquerda da tela */
  padding: 10px;
  background-color: rgba(0, 217, 255, 0.7); /* Cor de fundo */
  border-radius: 5px;
  font-size: 20px;
  animation: mover 3s infinite; /* Aplica animação */
}

/* Animação que move o elemento horizontalmente */
@keyframes move-horizontal {
  0% {
    left: 100%; /* Começa fora da tela pelo lado direito */
  }
  100% {
    left: -500px; /* Sai da tela pelo lado esquerdo */
  }
}

element {
  transition: 0.5s;
}



/* Container de estrelas */
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
	background: transparent;
}

/* Primeira camada de estrelas */
.stars::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 
      50vw 30vh white,
      10vw 90vh white,
      80vw 20vh white,
      30vw 40vh white,
      25vw 60vh white,
      20vw 50vh white,
      15vw 70vh white,
      32vw 80vh white,
      40vw 90vh white,
      60vw 30vh white,
      70vw 40vh white,
      85vw 50vh white,
      90vw 60vh white,
      95vw 70vh white,
      98vw 80vh white;
  animation: starsOne 20s linear infinite;
}

/* Segunda camada de estrelas */
.stars::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  box-shadow: 
      45vw 35vh white,
      15vw 85vh white,
      75vw 25vh white,
      35vw 45vh white,
      20vw 65vh white,
      25vw 55vh white,
      10vw 75vh white,
      37vw 85vh white,
      45vw 95vh white,
      65vw 35vh white,
      75vw 45vh white,
      80vw 55vh white,
      95vw 65vh white,
      90vw 75vh white,
      93vw 85vh white;
  animation: starsTwo 30s linear infinite;
}

/* Animações das estrelas */
@keyframes starsOne {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100vh);
  }
}

@keyframes starsTwo {
  0% {
      transform: translateY(-100vh);
  }
  100% {
      transform: translateY(100vh);
  }
}


.background-container { 
  position: relative;
  color: #d6d7d8b2; /* Cor do texto */ 
  height: 100vh;  /* Tamanho da altura */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/Projeto.png");
  background-repeat: no-repeat;
  background-size: 1920px 420px;
  z-index: 1; /* A imagem está acima do fundo */
  }


.nav-link a {
    color:#57a3f0b2;
  
  text-decoration: none;
 
}

.nav-link a:hover {
  transition: 0.75s;
  color: #4e00c2; /* Cor no hover */
} 



.linkedin {
    margin-top: 20px;
    position: absolute;
    top: -3px;
    right: 0; 
    width: 100px; 
    height: auto;


}



.git{
    margin-top: 20px;
    position: absolute;
    top: -3px;
    right: 0; 
    gap: 10px;
    margin-left: 10px;
    width: 50px; 
    height: auto;
   
}


.git svg {
  width: 22px;
}

.email svg {
  width: 23px;
}

.linkedin svg {
  width: 22px;
} 

.navegaçao {  
    display: flex; /* Define um layout flex */
    padding: 18px;
    gap:10px;
    font-size: 8pt;
    cursor: pointer;
       
}

.email{
    margin-top: 20px;
    position: absolute;
    top: -2px;
    right: 0px; 
    gap: 10px;
    margin-right: 100px;
    width: 50px; 
    height: auto;

} 

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;  
  background-color: rgb(0, 0, 0);
  height: 56px;
  list-style: none;

}

.home-nav h1 a {
    
    color:#57a3f0b2;
    text-decoration: none;
    transition: 0.75s;
}  

.home-nav h1 a:hover{
  color: #4e00c2;
}


.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: 100px;
  background-size: cover;
  position: relative;
  top: -20px;
  white-space: nowrap;

}

.home h2 {
  font-family: Georgia, serif; 
  font-size: 20pt;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  position: relative;
  top: -200px;
  
}

.highlight {
  color: #4e00c2; 
}

.home p {
  font-size: 19px; 
  margin-bottom: 2rem;
  color: white;
  text-align: center;
  position: relative;
  top: -200px;
  left: -10px;
}

.buttons a {
  font-size: 14pt;
  text-decoration: none;
  background: #012d5c; 
  color: white;
  padding: 10px 20px;
  position: relative;
  top: -200px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.buttons a:hover {
  background: #0056b3;
}

.card {
    background: #191c29;
    width: 240px;
    height: 320px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20pt;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    flex-direction: column;
    font-family: Georgia, serif;
     

  }
  .card span{
    font-size: 0.9pt;
     
  }
 
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

  .divisao1 {
    display: flex;
    flex-flow: row nowrap; /* Mantém os itens em linha */
    gap: 40px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
    height: 100vh; /* Faz o contêiner ocupar toda a altura da página */
    margin: 0; /* Remove qualquer margem que possa atrapalhar */
    flex-flow: row;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -40px);
    
       
}

.texto-card1 {
  color:white;
  display: flex;
  height: 590px;
  transform: translate(500px, 40px);
  margin: 0;
  white-space: nowrap;

}

.texto-card1 h2 span {
  color: #149bb3;
}

.texto-card1 h2 {
  font-size: 38pt;
}


.card1 {
  background: #191c29;
  width: 240px;
  height: 320px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20pt;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  flex-direction: column;
  font-family: Georgia, serif;
  left: -250px;
 ;
 
    
  }

  .card1 span{
    font-size: 0.9pt;
     
  }
 
  .card1:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card1:hover:before, .card1:hover:after {
    animation: none;
    opacity: 0;
  }
  
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

  .card1::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card1::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

    /* segunda divisão do site */
  .divisao2 {
    display: flex;
    flex-flow: row nowrap; /* Mantém os itens em linha */
    gap: 40px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
    height: 100vh; /* Faz o contêiner ocupar toda a altura da página */
    margin: 0; /* Remove qualquer margem que possa atrapalhar */
    flex-flow: row;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -40px);
    
       
}

.texto-card2 {
  color:white; /* Texto claro */
  display: flex;
  height: 590px;
  transform: translate(500px, 40px);
  position: relative; 
  left: -30px;
  margin: 0;
  white-space: nowrap;

}
  

.texto-card2 h2 span {
  color: #149bb3;
  
}

.texto-card2 h2 {
  font-size: 38pt;
}

.card2 {
  background: #191c29;
  width: 240px;
  height: 320px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20pt;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  flex-direction: column;
  font-family: Georgia, serif;
  left: -190px;
  white-space: nowrap;  /* nao deixa quebrar linha */
  

}
.card2 span{
  font-size: 0.9pt;
   
}

.card2:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card2:hover:before, .card2:hover:after {
  animation: none;
  opacity: 0;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card2::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card2::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

.sobre-mim{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 100vh;
  align-items: center;
  transition: opacity .5s;

}

.texto3 {
  padding-right: 2rem;
}

 h2 {
            font-size: 40pt;
            font-family: Georgia, serif;
            margin: 0;
            color: white;
        }

        .highlight {
            color: #149bb3;
        }

        p {
            font-size: 1.25rem;
            line-height: 1.6;
            margin-top: 1.5rem;
        }

        img {
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 6px #4e00c2;
        }

        @media (max-width: 768px) {
            .container {
                grid-template-columns: 1fr;
                padding: 1rem;
            }
            
            .text-content {
                padding-right: 0;
            }
        }

/* rodape */

  footer {
    background-color: #000000; /* Fundo escuro */
    color:#d6d7d8b2; /* Texto claro */
    text-align: center; /* Centraliza o texto */
    padding: 30px; /* Espaçamento interno */
    font-family: Georgia, serif; /* Estilo da fonte */
    font-size: 14pt; /* Tamanho do texto */
    border-top: 2px solid #34495e; /* Linha no topo do rodapé */
  }

  footer p {
    height: 30px;
    margin: 0; /* Remove espaçamento extra em parágrafos */
  }
  
  footer a img {
    width: 24px; /* Ajuste o tamanho dos ícones */
    height: 24px;
    margin: 10px; /* Espaçamento entre os ícones */
    transition: transform 0.3s; /* Efeito de animação */
  }

  