body {
  background-color: #050505;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}

.main-text {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
 
}

.main-text span {
  color: #ff416c;
  font-size: 2rem;
}

.main-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #cccccc;
  text-shadow: 0 0 5px #00000055;
  text-align: justify;
}


.section-text {
  color: #cccccc;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  
}

.section-text h1 {
  font-size: 2rem;
  
}

.section-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}

.section-text strong {
  font-weight: bold;
  color: #ff416c;
}

.section-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-text li {
  margin-bottom: 10px;
}

.section-text li strong {
  font-weight: bold;
  color: #ff416c;
}

/* formatação do contato */
.contato {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
    gap: 30px;
    padding: 40px;
    max-width: 100%;
    margin: 0 auto; 
  }
  
  .contato h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold; 
  }
  
  .contato p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #cccccc;
    text-align: center;
    display: flex; 
    flex-direction: column;
  }
  

.contato a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  &:hover {
    color: #0a6cff;
  }
}

.contato a:hover {
  color: #ff416c;
}

/* Fundo animado com partículas */
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
  pointer-events: none;
}

.particle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: float 15s linear infinite;
  pointer-events: none;
}

/* Animação das partículas */
@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-900px) translateX(300px);
    opacity: 0;
  }
}

/* Estilização do Header */
header {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

header::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 3px solid white;
  pointer-events: none;
 
}

/* Navegação */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin: 10px 15px;
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.1);
  color: rgb(220, 238, 245);
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

/* Conteúdo principal */
main {
  position: relative;
  z-index: 1;
}

/* Rodapé */
footer {
  color:#cccccc;
  text-align: center;
  padding: 10px;
  background-color: #333;
  font-size: 1rem;
  border-top: 2px solid #34495e;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
  height: 30px;
  margin: 0;
}

/* Posição da seção cards */
.projetos-cards {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid de Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 1rem;
}

/* Estilização básica do card */
.card {
  background-color: #222222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__content {
  padding: 1.5rem;
}

.card__header {
  font-size: 1.2rem;
  color: #ff416c;
}

.card__text-wrapper {
  margin-bottom: 1.5rem;
}

.card__text {
  color: #cccccc;
  line-height: 1.6;
  align-items: justify;
  font-size: 1rem;
}

.card__btn {
  background-color: transparent;
  border: 2px solid #1e90ff;
  color: #1e90ff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card__btn:hover {
  background-color: #1e90ff;
  color: white;
}
.card a {

    color: #fdfeff; 
    text-decoration: none; 
}

.title {
  color:#ff416c;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }


  nav ul li {
    margin: 10px 0;
  }


  .menu {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: justify;
    margin-right: 30px;
   
  }

 
  .header::before{
    display: flex;
    flex-direction: column;
    
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  header {
    padding: 10px 0;
  }

 

}



