.video-container {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.video-mp4
 {
  width: 300px;
  max-width: 25%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .video-container {
    top: 190px;

    width: 100%;

    height: 100%;
  }

  
}

